.logo::before {
    content: "";
    position: absolute;
    background: var(--bg-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar::before {
    content: "";
    position: absolute;
    background: var(--bg-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .6s;
}

.home-content h1::before {
    content: "";
    position: absolute;
    background: var(--bg-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.text-animation::before {
    content: "";
    position: absolute;
    background: var(--bg-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p::before {
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.home-content .btn-box::before {
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;
}

.home-sci::before {
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}